@import "./utils/_variables";

* {
  padding: 0;
  margin: 0;
}

.app {
  width: 100%;
  min-height: max-content;
  max-height: 100vh;
  background-color: $smoke-white;
}

.books {
  background-color: $smoke-white;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 8rem;
  padding-left: 3rem;

  h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5rem;
  }

  .books_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;

    img {
      width: 150px;
      height: 250px;
    }
  }

  .books_item {
    width: 545px;
    padding: 1rem;
    background-color: $pure-white;
  }

  .books_item_content {
    display: flex;
    gap: 2rem;
    margin-bottom: 10px;

    img {
      margin-top: -2.5rem;
    }
  }

  .books_item_text {
    h3 {
      color: $grey;
    }
  }

  .books_item_buttons {
    padding-top: 10px;
    border-top: 8px solid $smoke-white;
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;

    #trash_btn {
      border: none;
      background-color: transparent;
      color: red;
    }

    #trash_btn:hover {
      cursor: pointer;
      color: #8b0000;
    }

    #update_btn a {
      text-decoration: none;
      color: $black;
    }
  }

  #addNew_btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5rem;
    padding: 1rem;
    border: none;
    background-color: #ffa343;
    border-radius: 5px;

    a {
      text-decoration: none;
      color: $black;
      font-size: 2rem;
    }
  }
}
